<div class="card mb-6">
  <header class="card-header card-header-title has-background-grey-lighter">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/submission/{{id}}"  class="has-text-black is-capitalized is-pulled-left">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-image">
        <figure class="image">
        <img src="{{img_link}}" alt="Placeholder image">
        </figure>
    </div>

    <div class="card-content">
        <div class="content has-text-justified">
            {{text}}
        </div>
            <div class="is-pulled-right">
                <b>{{user.name}}</b> | 
                {{!-- <a href="https://twitter.com/{{user.twitter}}"><i class="fab fa-twitter"></i></a> 
                <a href="https://github.com/{{user.github}}"><i class="fab fa-github"></i></a> --}}
                 | {{format_date date_created}} | <a href="/submission/{{id}}">{{comments.length}} {{format_plural  "comment" comments.length}}</a>
            </div>
        
    </div>
