<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-5">edit submission</h2><hr>
  <form class="edit-submission-form">
    <div>
        <label for="submission-title">submission title:</label>
      <input class="input" name="submission-title" type="text" value="{{title}}" />
    </div>
    <div>
        <label for="submission-content">submission content:</label>
      <input class="textarea" name="submission-content" type="text" value="{{text}}" />
    </div>
    <div class="is-pulled-right">
       created by you on {{format_date date_created}}
      |
      <a href="/submission/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    <button type="submit" class="button is-success">save submission</button>
    <button type="button" class="button is-danger delete-submission-btn">delete submission</button>
  </form>
</article>
<div id="imgLink" dataid="{{img_link}}" style="display: none;"></div>
{{> comments comments}}

<script src="/javascript/edit-submission.js"></script>
<script src="/javascript/delete-submission.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}